<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-white text-center">
  <nav class="bg-slate-800 p-6 text-white">
    <a href="/">Home</a> |
    <a href="/findRecipeByIngridient">Find recipe by ingredient</a> |
    <a href="/findRecipeByName">Find recipe by name</a> |
    <a href="/findRecipeByArea">Find recipe by area</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  </nav>
  <hr>  
    <header class="text-center py-10 bg-slate-800 shadow">
        <h1 class="text-3xl font-bold bg-slate-800">Multi-cookbook</h1>
    </header>
    <main class="container mx-auto py-10">
        {% block content %}
        <h1>Welcome at main page of semestral work web aplication Multi-Cook-Book !</h1>
        {% endblock %}
    </main>
    <script>
        // JavaScript for toggling navbar on small screens
        document.getElementById('navbar-toggler').addEventListener('click', () => {
            const menu = document.getElementById('navbar-menu');
            menu.classList.toggle('hidden');
        });
    </script>
    <hr>
    <footer>© 2025 author Samuel Fáber</footer>
</body>
</html>
